.article {
    min-height: 1000px;
    background-color: white;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 80px;
    border-radius: 15px;
    float: left;
    width: 67%;
}

.extra {
    min-height: 1000px;
    background-color: white;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 80px;
    border-radius: 15px;
    float: right;
    width: 25%;
}

.infoblock {
    margin: 20px;
    width: auto;
    border-radius: 15px;

}

.barRed {
    height: 13px;
    background-color: red;
}

