*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #2b2b2b;
}

.container{
    width: 100%;
}

@font-face {
    font-family: VampireWars;
    src: url(/font/Vampire\ Wars.ttf);
}

.bannerTop {
    background-image: url(/img/8.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    padding-top: 25vh;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 260px;
}

.bannerTop a{
    text-decoration: none;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: VampireWars;
    display: flex;
    justify-content: center;
    margin-top: -173px;
}

.serverIp{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: darkorange;
    padding: 4px;
    color: black;
}

.serverIp span{
    color: white;
}

.bar{
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.clear {
    clear: both;
}

.menu {
    margin-top: -90px;
}

.menu ul{
    text-align: center;
    padding: 20px;
}

.menu li {
    display: inline;
    padding: 50px;
}

.menu a{
    text-decoration: none;
    font-size: 30px;
    color: goldenrod;
    font-family: VampireWars;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.content {
    background-color: white;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
}

.content p{
    font-size: 17px;
    padding-bottom: 10px;
}

.rightBar{
    margin: 30px;
    float: right;
}

.discord {
}