* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #2b2b2b;
}

.container {
    width: 100%;
}

@font-face {
    font-family: VampireWars;
    src: url(../font/Vampire\ Wars.ttf);
}

.bannerTop {
    background-image: url();
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 260px;
}

.bannerTop a {
    text-decoration: none;
}

.bannerTop p {
    font-size: 60px;
    color: #2b2b2b;
    font-family: VampireWars;
    display: flex;
    justify-content: center;
    margin-top: -173px;
}

.serverIp {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: darkorange;
    padding: 4px;
    color: black;
}

.serverIp span {
    color: white;
}

.bar {
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.clear {
    clear: both;
}

.menu {
    margin-top: -90px;
}

.menu ul {
    text-align: center;
    padding: 20px;
}

.menu li {
    display: inline;
    padding: 50px;
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 180, 41);
    font-family: VampireWars;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.menu a:hover {
    color: white;
}

.barTwo {
    height: 5px;
    background-color: rgb(168, 93, 0);
}

.homeGallery {
    margin: 50px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.textHGtwo {
    font-size: 30px;
    color: white;
    text-align: end;
    padding-right: 40px;
    padding-top: 190px;
    font-family: VampireWars;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.textHGone {
    font-size: 30px;
    color: white;
    text-align: end;
    padding-right: 40px;
    padding-top: 190px;
    font-family: VampireWars;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.hg1 {
    border-right: #2b2b2b solid 2.5px;
    background-image: url();
    float: left;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
}

.hg2 {
    border-left: #2b2b2b solid 2.5px;
    background-image: url();
    float: right;
    height: 250px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 15px;
}

.hg3 {
    border-top: #2b2b2b solid 5px;
    background-image: url();
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.middleSection {
    background-color: #2b2b2b;
    padding-left: 100px;
    padding-right: 100px;
}

.bannermiddle {
    height: 400px;
    padding-top: 40px;
    width: 50%;
    float: left;
    margin-bottom: 40px;
}

.infoServer {
    text-align: center;
    list-style-position: inside;
    border-radius: 15px;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    padding: 30px;
    margin-left: 40vh;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

li {
    color: white;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    list-style: none;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.infoImage {
    float: right;
}

.infoImage img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 270px;
    margin-right: 40vh;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comments {
    background-color: orange;
}

.co {
    float: left;
    width: 33.33%;
    height: 250px;
    text-align: center;
    padding: 50px;
    padding-top: 30px;
    background-color: orange;
}

.co img {
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    padding-bottom: 10px;
}

.cotitle {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
}

.cotext {
    padding-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Play', sans-serif;
}

.buttonsSocial {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 200px;
}

.butBox {
    padding: 70px;
}

.butIcon {
    float: left;
    margin-right: 80px;
}

.butIcon img {
    width: 64px;
}

.butBoxDiscord {
    margin-top: -30px;
    color: white;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    float: right;
}

.butIconDiscord img {
    width: 60px;
    float: right;
}

footer {
    text-align: center;
    background-color: darkcyan;
    color: white;
    font-size: 15px;
    font-family: 'Play', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    padding-top: 5px;
}